body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #666666;
}
/*
.row {
    margin-left: 1em;
}

.row-fluid {
    margin-left: 2em;
    margin-right: 2em;
}
*/
.well p {
    margin-top: 1em;
}
.cslink {
	font-weight: bold; font-size: 1.4em; color: #E9F4AB; position: absolute; left: 1.4em; top: 3em;
}
.cslink:hover {
	color: #E9F4AB;
}

.funder {
    background-color: white;
}

.funder img {
    margin-top: 1em;
}

a[href*="//"]:not([href*="york.ac.uk"]):not(.link):after {  
    width: 1em;
    height: 1em;
    background: transparent black no-repeat;
    padding-left: 0.4em;
    content: "\f08e";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.container-content {
    background-color: #FFFFFF;
    padding: 2em 1em 1em 1em;
}

#navheader.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

h1 {
    margin-top: 0;
    color: #015580;
}
h1 a {
    color: #015580;
}
.copyright {
    font-size: smaller;
    color: #9f9f9f;
}

.footer {
    text-align: center;
}

.footer a {
    color: #B5C55C;
}

.sidebar h1 {
    color: #428bca;
    font-size: 1.3em;
    margin: 0;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar ul {
   
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    
    padding: 0;
    background-color: #ffffff;
}

.well {
    border-radius: 0;
    border: 0;
}
.well h1 {
    color: #B5C55C;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

.breadcrumb {
    border: 0;
    border-radius: 0;
    background-color: #E9F4AB;
    padding: 1em;
    padding-left: 2.5em;
    font-size: smaller;
    margin: 0;
}

.breadcrumb a {
    color: #000000;
}

.breadcrumb li.active > a
{
    font-weight: bold;
}

.breadcrumb > li + li:before {
    color: #000000;
    content: "» ";
    padding: 0 2px;
}

.navbar-custom {
    margin: 0;
    background-repeat: no-repeat;
    border-radius:0;
    color: #000000;
    border: 0;
    border-top: 2px #B5C55C solid;
    background-color: #015580; /*#E9F4AB;*/ /* #E9F4AB; */ /* #B5C55C; */
}

.container-grey {
    background-color: #666666;
    padding: 0;
    margin: 0;
    border: 0;
}

.container-top {
    background-color: #666666;
    background-image: url("./watermark.gif");
    background-repeat: no-repeat;
    /*border-left: 1px #535353 solid;
    border-right: 1px #535353 solid;
    */
    min-height: 190px;
    padding-top: 100px;
}

.navbar-brand {
    background-color: #B5C55C;
    color: #9f9f9f;
    padding-left: 1.6em;
    padding-right: 1.6em;
}

.navbar-brand > a {
    color: #000000;
}

.navbar-custom{
    padding-left: 0;
}

.navbar-header {
    
}
  
.navbar-custom .navbar-nav > li > a {
    color:#ffffff;
    
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(2, 163, 245, 0.5);
}
      
.navbar-custom .navbar-brand {
    color:#666666;
    font-weight: bold;
}
.navbar-custom .navbar-toggle {
    background-color:#B5C55C;
}
.navbar-custom .icon-bar {
    background-color:#E9F4AB;
}

.container {
    margin-top: 1em;
}

.navigator {
    background-color: #E9F4AB;
    padding: 1em;
    padding-left: 2.5em;
    font-size: smaller;
}

.address {
    color: #ffffff;
    margin: 2em;
}