<div class="container-fluid container-grey">
    <div class="row-fluid">
        <div class="span12 address">
            <p>Department of Computer Science<br/>
            Deramore Lane, University of York, Heslington, York, YO10 5GH, UK<br/>
            Tel: 01904 325500 | Fax: 01904 325599</p>
          </div>
        <div class="span12 footer">
            
            <p class="copyright">Powered by <a href="http://jekyllrb.com/">Jekyll</a>, developed by <a href="https://www.cs.york.ac.uk/people/?username=pfr">Pedro Ribeiro</a>, based on theme by <a href="https://github.com/scotte/jekyll-clean">Scott Emmons</a>
            under
            <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a></p>
        </div>
    </div>
</div>

{% include disqus-counts.html %}
{% include analytics.html %}

</body>
</html>
