 <div class="sidebar well">
    			<h1>Schedule</h1>
    			<p>1-4 December 2015</p>
			</div>

			<div class="sidebar well">
    			<h1>Location</h1>
    			<p>Department of Computer Science<br>University of York<br>York</p>
			</div>

			<div class="sidebar well funder">
    			<h1>Funding</h1>
    			<a href="http://gow.epsrc.ac.uk/NGBOViewGrant.aspx?GrantRef=EP/M025756/1" class="link"><img src="{{ site.baseurl }}/css/epsrc.jpg" width="190"></a>
                <ul class="list-unstyled">
                    <li><a href="https://www.cs.york.ac.uk/circus/RoboCalc/">RoboCalc</a></li>
                    <li><a href="http://cgi.csc.liv.ac.uk/~michael/VaVAS/">Network on the Verification and Validation of Autonomous Systems</a></li>
                </ul>
			</div>