{% include header.html %}
{% assign lecturer = site.data.bio[page.lecturer] %}

<div class="container-content">
<div class="container-fluid container-left">
    <div class="row-fluid">
        <div class="col-md-7 col-sm-7">
        	<h1 class="post-title">{{ page.title }}</h1>
        	<div style="float: left; width: 80px; height: 80px; overflow: hidden; border-radius: 50%; margin: 0.5em;">
            {% if lecturer.pic_width %}
                <img width="{{lecturer.pic_width}}" style="margin-right: 1em; margin-top: {{ lecturer.pic_margin_top }}; margin-left: {{ lecturer.pic_margin_left }}; overflow: hidden;" src="{{lecturer.pic}}">
            {% else %}
                <img width="80" style="margin-right: 1em; margin-top: {{ lecturer.pic_margin_top }}; margin-left: {{ lecturer.pic_margin_left }}; overflow: hidden;" src="{{lecturer.pic}}">
            {% endif %}
        	</div><h2><a href="{{lecturer.url}}" class="link">{{ lecturer.name }}</a></h2>{{ lecturer.uni }}
        	<h3 style="clear: both;">Abstract</h3>
        	{{ page.abstract | markdownify }} <br><br>
            {{ content | markdownify }}
        </div>
        <div class="col-md-5 col-sm-5">
        	<div class="sidebar well">
        	<h1>Schedule</h1>
        		<p>TBA</p>
        	</div>
            <div class="sidebar well">
            <h1>Biography</h1>
				<p>{{ lecturer.bio | markdownify }}</p>
			</div>
        </div>
    </div>
</div>
</div>

{% include footer.html %}