{% include header.html %}

<div class="container-content">
<div class="container-fluid container-left">
    <div class="row-fluid">
        <div class="col-md-9 col-sm-8">
        	<h1 class="post-title">{{ page.title }}</h1>
            {{ content }}
        </div>
        <div class="col-md-3 col-sm-4">
            {% include sidebar.html %}
        </div>
    </div>
</div>
</div>

{% include footer.html %}
