{% include header.html %}

<div class="container-content">
<div class="container-fluid container-left">
    <div class="row-fluid">
        <div class="col-md-9 col-sm-8">
        	<h1 class="post-title">Lecturers</h1>
        </div>
        <ul class="list-unstyled">
        {% for lecturers in site.data.bio %}
        {% assign lecturer = lecturers[1] %}
        <li>
            {{ lecturer.name }}
        </li>
        {% endfor %}
        </ul>
        <div class="col-md-3 col-sm-4">
            {% include sidebar.html %}
        </div>
    </div>
</div>
</div>

{% include footer.html %}
